body {
  font-family: 'Open Sans', sans-serif;
}

:focus {
  outline:none;
}


.my.list {
  list-style-type: none;
  padding: 6px 8px;
  margin: 0;
}

.my.list-item {
  position: relative;
  height: 20px;
}

.my.item-label {
  line-height: 20px;
  width: 75%;
  display: inline-block;
}

.my.button-container > * {
  margin-left: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.my.button,.my.colorpicker {
  padding: 0;
  width: 16px;
  height: 16px;
  position: relative;
  display: inline-block;
}

.my.colorpalette {
  z-index: 2;
  padding: 6px;
  position: absolute;
  left: 50%;
  top: -8px;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.my.button-container {
  white-space: nowrap;
  height: 20px
}

.my.colorpalette-row {
  white-space: nowrap;
  height: 16px
}

.my.panel {
  margin: 0;
}


.my.tab-list a {
  padding: 4px 8px;
}

.my.tab-list.nav-justified {
  table-layout: fixed;
  display: table;
}

.my.tab-list.nav-justified li {
  width: 100%;
}

.my.tab-pane {
  border-width: 0px 1px 1px 1px;
  border-color: #ddd;
  border-style: solid;
  border-radius: 0 0 4px 4px;
}

.my.table-header {
  border-bottom: 1px dashed #ddd;
  padding: 4px 0px 4px 8px;
}

.my.table-header:last-child {
  padding-right: 8px;
}

.my.table-cell {
  padding: 2px 0px 2px 8px;
}

.my.table-cell:last-child {
  padding-right: 8px;
}

.my.panel.rounded {
  overflow: hidden;
}

.my.pointinfo-header {
  padding: 10px;
  line-height: 20px;
  border-bottom: 1px solid #000;
  text-align: center;
}

.my.pointinfo-content {
  padding: 8px;
}

.my.search-box {
  background: url(../images/search-dark.png) no-repeat 10px 6px;
  color: #777;
  padding: 6px 15px 6px 35px;
}

.my.search-menu-content.ui-state-active {
  background: #777!important;
  margin: 0!important;
}

/*.my.search-menu {
  padding: 8px 0;
}*/

.my.search-menu-item {
  padding: 0;
}

.my.search-menu.rounded {
  overflow: hidden;
}

.my.search-group-separator:first-child {
  border-top-width: 0;
}

.my.search-group-separator {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  line-height: 20px;
  height: 28px;
  border: solid #000;
  border-width: 1px 0;
}

.my.search-menu-content {
  height: 24px;
  padding: 2px 12px 2px 12px;
}

.my.panel-group {
  margin: 0;
}

.my.panel-body {
  padding: 8px;
}

.my.with-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my.with-bottom-arrow {
  z-index: 2;
  position: absolute;
  background: #fff;
  border: 1px solid #000;
}

.my.with-bottom-arrow:after, .my.with-bottom-arrow:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
}

.my.with-bottom-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.my.with-bottom-arrow:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 9px;
  margin-left: -9px;
}


.my.in-bottom-left-corner {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.my.in-top-right-corner {
  position: absolute;
  top: 24px;
  right: 24px;
}

.my.in-top-left-corner {
  position: absolute;
  top: 24px;
  left: 24px;
}

.my.rounded {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}

.my.shaded {
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
  -webkit-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

.my.deactivated {
  color: #ccc!important;
}

.my.expanding {
  max-width: 1px;
  width: 100%;
}

.my.shrinking {
  white-space: nowrap;
  width: 1px;
}

.my.narrow {
  width: 150px;
}

.my.normal-width {
  width: 250px;
}

.my.quite-wide {
  width: 300px;
}

.my.wide {
  width: 350px;
}

.my.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 100%;
  height: 100%;
}

.my.with-quite-small.font {
  font-size: 12px;
}

.my.with-normal.font {
  font-size: 14px;
}

.my.with-big.font {
  font-size: 18px;
}

.my.bold.font {
  font-weight: bold;
}

.my.italic.font {
  font-style: italic;
}

.my.global.font {
  font-family: 'Open Sans', sans-serif;
}

.my.btn {
  font-size: inherit;
}

.my.clickable {
  cursor: pointer;
}

.my.floating-right {
  float: right;
}

.my.borderless {
  border: 0;
}

.my.transparent-background {
  background-color: transparent;
}

.my.white-background {
  background-color: #fff;
}

.my.light-grey-background {
  background-color: #ddd;
}

.my.animated {
  transition: all 0.4s ease 0s;
}

.my.with-text-shadow {
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.my.dark-grey {
  color: #222;
}
