#selections-container {
  position: absolute;
  bottom: 24px; left: 24px;
}

.controls-list {
  list-style-type: none;
  width: 250px;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;

  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border-width: 1px;
  background: #fff;
  border-color: #000;
  border-style: solid;

  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

.controls-list.controls-show {
  opacity: 1;
}

.controls-list li {
  transition: all 0.5s ease-out 0s;
  opacity: 0;
  height: 0;
  padding: 6px 8px;
  position: relative;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #222;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.controls-list li.controls-show {
  opacity: 1;
  height: 16px;
}

.controls-button-container {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -8px;
}

.controls-button-container .controls-button {
  margin-left: 3px;
}

.controls-label {
  line-height: 16px;
  width: 75%;
  display: inline-block;
  /*vertical-align: middle;*/,
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.controls-button {
  padding: 0;
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  position: relative;
  color: #222;
}

.controls-deactivated {
  color: #ccc;
}

.controls-colorpalette {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border-width: 1px;
  background: #fff;
  border-color: #000;
  border-style: solid;

  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;

  max-width: 250px;
  padding: 6px;
}

.controls-colorpalette.controls-show {
  display: inline-block;
}

.controls-colorpalette .controls-button {
  float: left;
}

.controls-colorpalette .controls-button.first {
  clear: left;
}

#palette {
  position: absolute;
  opacity: 0;

  transition: visibility 0s 0.3s, opacity 0.3s ease-in;

  visibility: hidden;
}

#palette.controls-show {
  opacity: 1;
  visibility: visible;
  transition-property: opacity, left, top;
  transition-duration: 0.3s, 0.3s, 0.3s;
  transition-timing-function: ease-out, linear, linear;
  transition-delay: 0s;
}