body {
  margin: 0;
  overflow: hidden;
}

rect {
  fill: transparent;
}

div#container {
  position: absolute;
  position: fixed;
  top: 16px; left: 16px; bottom: 16px; right: 16px;
  overflow: hidden;
  display: inline-block;
}

div#search-container {
  top: 24px; left: 24px;
  z-index: 10;
  position: absolute;
  position: fixed;
}

#search input[type="search"] {
  background: url(images/search-dark.png) no-repeat 10px 6px #fcfcfc;
  border: 1px solid #000;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #777;
  width: 107px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

#search input[type="search"]:focus {
  width: 200px;
}

.background {
  fill: #fff;
}

.frame {
  shape-rendering: crispEdges;
  stroke: #000;
  stroke-width: 1;
}

.labels {
  text-anchor: middle;
  font-family: Verdana, Geneva, sans-serif;
  pointer-events: none;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dot {
  stroke: none;
  fill: #000;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

