div#search-container {
  top: 24px; left: 24px;
  z-index: 10;
  position: absolute;
  position: fixed;
}

#search-box {
  background: url(images/search-dark.png) no-repeat 10px 6px #fff;
  border: 1px solid #000;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #777;
  width: 250px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

.easy-autocomplete.eac-round {
  font: 12px Arial, Helvetica, Sans-serif;
  color: #222;
}
/*.easy-autocomplete.eac-round input {
  border: 1px solid #000;
  border-radius: 10px;
  color: #888;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  min-width: 300px;
  padding: 10px;
}*/
/*.easy-autocomplete.eac-round input:hover, .easy-autocomplete.eac-round input:focus {
  border-color: #3079ed;
}*/
.easy-autocomplete.eac-round ul {
  background: none;
  border-color: #888;
  border-width: 0;
  /*box-shadow: none;*/
  /*min-width: 300px;*/
  top: 8px;
}
.easy-autocomplete.eac-round ul li, .easy-autocomplete.eac-round ul .eac-category {
  background: #fff;
  border-color: #000;
  border-width: 0 1px;
  /*font-size: 14px;*/
  padding: 8px 12px;
  transition: all 0.4s ease 0s;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
.easy-autocomplete.eac-round ul li.selected, .easy-autocomplete.eac-round ul .eac-category.selected {
  background-color: #d4e3fb;
}

.easy-autocomplete.eac-round ul li:first-child, .easy-autocomplete.eac-round ul .eac-category:first-child {
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  border-width: 1px 1px 0;
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

.easy-autocomplete.eac-round ul li:last-child, .easy-autocomplete.eac-round ul .eac-category:last-child {
  -webkit-border-radius: 0 0 20px 20px;
  -moz-border-radius: 0 0 20px 20px;
  border-radius: 0 0 20px 20px;
  border-width: 0 1px 1px;
}

.easy-autocomplete.eac-round ul li:only-child, .easy-autocomplete.eac-round ul .eac-category:only-child {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

.easy-autocomplete.eac-round ul li b, .easy-autocomplete.eac-round ul .eac-category b {
  font-weight: 700;
}