#selections-container {
  position: absolute;
  bottom: 24px; left: 24px;
}

.selections-close-button {
  padding: 0;
  border: none;
  background: none;
}

.selections-close-icon {
  /*font-weight: bold;*/
}

#selections-list li {
  transition: all 0.4s ease 0s;
  opacity: 0;
}

#selections-list li.show {
  opacity: 1;
}

