.selection-button-container {
  position: absolute;
  right: 0px;
  top: 50%;
  margin-top: -8px;
}

.selections-button {
  padding: 0;
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  float: right;
  margin-right: 5px;
  position: relative;
}

#selections-list {
  list-style-type: none;
  width: 250px;
  padding: 0;
  margin: 0;
  opacity: 0;
  overflow: hidden;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border-width: 1px;
  background: #fff;
  border-color: #000;
  border-style: solid;

  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

#selections-list.show {
  opacity: 1;
}

#selections-list li {
  transition: all 0.5s ease-out 0s;
  opacity: 0;
  height: 0;
  padding: 6px 8px;
  position: relative;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #222;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

#selections-list li.show {
  opacity: 1;
  height: 16px;
}

#selections-container {
  position: absolute;
  bottom: 24px; left: 24px;
}

.selections-button {
  color: #222;
}

.selections-button.selection-hidden {
  color: #aaa;
}

.selection-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  text-align: center;
  vertical-align: middle;
}

.selection-color-icon {
  width: 14px;
  height: 14px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 1px;
  border: 1px;
  background: #222;
}

.selection-label {
  line-height: 16px;
  width: 75%;
  display: inline-block;
  /*vertical-align: middle;*/
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}