#selections-container {
  position: absolute;
  bottom: 24px; left: 24px;
}

.my.in-top-right-corner {
  position: absolute;
  top: 24px;
  right: 24px;
}

.my.rounded {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}

.my.shaded {
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

.my.animated {
  transition: all 0.4s linear 0s;
}

.my.animated.hidden {
  transition: none;
}

.my.animated.hidden.hide {
  transition: all 0.4s linear, visibility 0s 0.4s;
}

.my.animated.hidden.show {
  transition: all 0.4s linear 0s;

/*  transition-property: opacity, left, top;
  transition-duration: 0.4s;
  transition-timing-function: linear;
  transition-delay: 0s;*/
}

.my.hidden {
  opacity: 0;
  visibility: hidden;
}

.my.hidden.show {
  opacity: 1;
  visibility: visible;
}

.my.list {
  list-style-type: none;
  width: 250px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: #fff;
}

.my.list-item {
  height: 0;
  padding: 6px 8px;
  position: relative;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #222;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.my.list-item.show {
  height: 16px;
}

.my.button-container {
  float: right;
  overflow: hidden;
}

.my.button-container .my.button {
  margin-left: 3px;
}

.my.label {
  line-height: 16px;
  width: 75%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.my.button {
  padding: 0;
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  position: relative;
  color: #222;
  display: block;
  float: left;
}

.my.button.first {
  clear: left;
}

.my.deactivated {
  color: #ccc;
}

.my.colorpalette {
  background: #fff;
  max-width: 250px;
  padding: 6px;
}

.my.panel {
  background: #fff;
}

#palette {
  position: absolute;
}
