body {
  font-family: 'Open Sans', sans-serif;
}

.my.in-bottom-left-corner {
  position: absolute;
  bottom: 24px;
  left: 24px;
}

.my.in-top-right-corner {
  position: absolute;
  top: 24px;
  right: 24px;
}

.my.rounded {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
}

.my.shaded {
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

.my.list {
  list-style-type: none;
  width: 250px;
  padding: 6px 8px;
  margin: 0;
  background: #fff;
}

.my.list-item {
  /*padding: 6px 8px;*/
  position: relative;
  /*font: bold 12px Arial, Helvetica, Sans-serif;*/
  color: #222;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  height: 16px;
}

.my.button-container {
  float: right;
}

.my.button-container > * {
  margin-left: 3px;
}

.my.item-label {
  line-height: 16px;
  width: 75%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.my.button,.my.colorpicker {
  padding: 0;
  border: none;
  background: none;
  width: 16px;
  height: 16px;
  position: relative;
  color: #222;
  display: inline-block;
}

.my-button {
}

.my.deactivated {
  color: #ccc;
}

.my.colorpalette {
  z-index: 2;
  background: #fff;
  padding: 6px;
  position: absolute;
  left: 50%;
  top: -8px;
  -webkit-transform: translate(-50%, -100%);
  -moz-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
}

.my.colorpalette-row, .my.button-container {
  white-space: nowrap;
  height: 16px
}

.my.panel {
  background: #fff;
}

.my.with-bottom-arrow {
  z-index: 2;
  position: absolute;
  background: #fff;
  border: 1px solid #000;
}
.my.with-bottom-arrow:after, .my.with-bottom-arrow:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  position: absolute;
  pointer-events: none;
}

.my.with-bottom-arrow:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}

.my.with-bottom-arrow:before {
  border-color: rgba(0, 0, 0, 0);
  border-top-color: #000;
  border-width: 9px;
  margin-left: -9px;
}

.my.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  width: 100%;
  height: 100%;
}