:focus {
  outline:none;
}

#search-container {
  top: 24px; left: 24px;
  z-index: 10;
  position: absolute;
  position: fixed;
}

#search-box {
  background: url(../images/search-dark.png) no-repeat 10px 6px #fff;
  border: 1px solid #000;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #777;
  width: 250px;
  padding: 6px 15px 6px 35px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}

.ui-menu-item-wrapper {
  font: 12px Arial, Helvetica, Sans-serif;
  color: #222;
}

.ui-menu-item-wrapper .search-label {
  width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.ui-menu-item-wrapper .search-description {
  color: #555;
  font-style: italic;
  float: right;
}

.ui-autocomplete.ui-menu {
  border-width: 0;
  /*box-shadow: none;*/
  /*min-width: 300px;*/
}

.ui-autocomplete.ui-menu .ui-menu-item .ui-state-active {
  background: #777!important;
  margin: 0!important;
  /*font-weight: normal;*/
  /*color: #ffffff;*/
}

.ui-autocomplete.ui-menu .ui-menu-item .ui-menu-item-wrapper {
  background: #fff;
  border-color: #000;
  border-width: 0 1px;
  border-style: solid;
  /*font-size: 14px;*/
  padding: 8px 8px;
  transition: all 0.4s ease 0s;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.ui-autocomplete.ui-menu .ui-menu-item:first-child .ui-menu-item-wrapper {
  -webkit-border-radius: 14px 14px 0 0;
  -moz-border-radius: 14px 14px 0 0;
  border-radius: 14px 14px 0 0;
  border-width: 1px 1px 0;
  box-shadow: 0 4px 3px -3px rgba(0, 0, 0, 0.15) inset;
}

.ui-autocomplete.ui-menu .ui-menu-item:last-child .ui-menu-item-wrapper {
  -webkit-border-radius: 0 0 14px 14px;
  -moz-border-radius: 0 0 14px 14px;
  border-radius: 0 0 14px 14px;
  border-width: 0 1px 1px;
}

.ui-autocomplete.ui-menu .ui-menu-item:only-child .ui-menu-item-wrapper {
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  border-width: 1px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}
