<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Wikimap</title>

    <link href="static/scatter.css" rel="stylesheet" type="text/css">

    <script src="static/bower_components/jquery/dist/jquery.js"></script>
    <script src="static/bower_components/d3/d3.js" charset="utf-8"></script>
    <script src="static/bower_components/d3-tip/index.js"></script>
    <script src="static/bower_components/element-resize-detector/dist/element-resize-detector.min.js"></script>
    <script src="static/node_modules/js-lru-cache/dist/lru-cache.js"></script>

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
  </head>
  <body>
    <div id="search-box-container">
      <form id="search-box" method="POST" action="{{ url_for('routes.search') }}">
        {{ searchBox.csrf_token }}
        {{ searchBox.query(size=20) }}
        <input type="submit" value="Search">
      </form>
    </div>
    <div id="container"></div>
    <script src="static/scatter.js" charset="utf-8"></script>
    <script src="static/forms.js" charset="utf-8"></script>
  </body>
</html>